# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
*.vcxproj
*.vcxproj.*
*.sln
*.pdb
*.dir
*.log
*.tlog
*.iobj
*.ipdb

# Make
Makefile

# CMake
cmake_install.cmake
CMakeCache.txt
CMakeFiles

# CTest
CTestTestfile.cmake
Testing

# CPack
CPackConfig.cmake
CPackSourceConfig.cmake
GSLConfig.cmake
GSLConfigVersion.cmake
gsl.pc
install_manifest.txt

# Catch2
DartConfiguration.tcl

# Testing Targets
test_span
